@page
@model PrivacyModel

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>FERNANDO CAMBIO UNAS COSAS.</p>
<h2></h2>
<p></p>
<html>
<head>
  <title>IMAGENES</title>
</head>

<body>
  <div class="text-center">
  <h1 class="display-4">Bienvenido</h1>
  </div>
  <img src="Pages/img/cuatro.jpg", width="1200px", height="600px">
</body>

</html>
