@page
@model FrontEnd.Pages.CrearPersonaModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Document</title>
</head>
<body> 
  <div class="container">
    <div style="text-align: center;">
      <br>
      <h4>Ingreso Usuarios </h4>
      <br>
    </div>
    <form>
        <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Identificación</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3">
        </div>
        </div>
        <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3">
        </div>
        </div>

        <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Apellidos</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3">
        </div>
        </div>

        <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Genero</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3">
        </div>
        </div>

        <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Estado</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3">
        </div>
        </div>

        

        <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Guardar Persona</button>
        </div>
      </div>
    </form> 
  </div>   
</body>
</html>

  
