@page
@model FrontEnd.Pages.TecnMantModel
@{
}
<h1>PRUEBA TECNICO MANTENIMIENTO</h1>
<h2>ingreso datos</h2>
<form method="POST">
    <p>Ingrese Identificacion <input type="text" id="identTecMante" name="identTecMante"></p>
    <p>Ingrese Nombre <input type="text" id="nombreTecMante" name="nombreTecMante"></p>
    <p>Ingrese Apellido <input type="text" id="apellidoTecMante" name="apellidoTecMante"></p>
    <p>Ingrese Genero <input type="text" id="generoTecMante" name="generoTecMante"></p>
    <p>Ingrese Estado <input type="text" id="estadoTecMante" name="estadoTecMante"></p>
    <input type="submit">
</form>
