@page
@model FrontEnd.Pages.TecnMantModel
@{
}
<h1></h1>
<div class="text-center">
<h2>INGRESO DE DATOS REPORTE</h2>
</div>
<section class="form_wrap">

        <section class="cantact_info">
            <section class="info_title">
                <span class="fa fa-user-circle"></span>
                <h2>REPORTES<br><br><br>SISTEMA<br>METEOROLOGICO<br></h2>
            </section>
            <section class="info_items">
                <p><span class="fa fa-envelope"></span>  </p>
                <p><span class="fa fa-mobile"></span> </p>
            </section>
        </section>

        <form action="" class="form_contact">
            <h2>Hacer Reporte</h2>
            <div class="user_info">
                <label>
                <p>Identificacion <input type="text" id="identTecMante" name="identTecMante"></p>

                <label for="names">Nombres</label>
                <input type="text" id="names">
                
                <p>Apellidos <input type="text" id="apellidoTecMante" name="apellidoTecMante"></p>
                <p>Genero <input type="text" id="generoTecMante" name="generoTecMante"></p>
                <p>Estado <input type="text" id="estadoTecMante" name="estadoTecMante"></p>
                </label>

                <label for="mensaje">Tipo de Reporte</label>
                <textarea id="mensaje"></textarea>

                <label for="mensaje">Descripcion Reporte*</label>
                <textarea id="mensaje"></textarea>
            
                <label for="mensaje">Digitar Reporte</label>
                <textarea id="mensaje"></textarea>
                <label for="mensaje">Fecha del Reporte</label>
                <form>
                <input type="datetime-local" name="fechahora">
                </form>
                
               
  
                <input type="button" value="GUARDAR" id="guardar">
            </div>
        </form>
</section>
