@page
@model FrontEnd.Pages.EditEstMetModel
@{
}
<html>
<body>
<h1>EDITAR ESTACION METEOROLOGICA </h1>
<form>
    <div class="container-fluid">
    <div class="row">
        <div class="col-3">
    <p>DAGITE CODIGO ESTACION A EDITAR <input type="text" name="CodEstacion"></p>

    <p>Editar Latitud  estacion <input type="text" name="LatEstacion"></p>

    <p>Editar Longitud estacion <input type="text" name="LongEstacion"></p>

    <p>Editar Municipio estacion <input type="text" name="MunEstacion"></p>

    <p>Fecha de montaje estacion   <input type="date" name="fechaEstacion"></p>

    <p>Fecha de Edicion estacion   <input type="date" name="fechaEstacion"></p>

    <p><input type="submit" value="Guardar Cambios"></p>
</form>
</body>
</html>



<div class="container-fluid">
    <div class="row">
        <div class="col-4">
       
        
        </div>
    </div>
</div>