@page
@model FrontEnd.Pages.EstMetModel
@{
}
<div class="text-center">
<h1>ESTACION METEOROLÓGICA</h1>
</div>
<section id="contenido">
  <h2>Crear Estación Meteorológica</h2>
  <p></p>
  <a class="btn-primary" type="button" asp-area="" asp-page="./IngrEstMet"> <h2>INGRESAR</h2></a>
  <br>
  <br>
</section>
<section id="contenido2">
  <h2>Editar Estación Meteorológica</h2>
  <p></p>
  <a class="btn-primary" type="button" asp-area="" asp-page="./EditEstMet"> <h2>INGRESAR</h2></a>
  <br>
  <br>
</section>
<section id="contenido3">
  <h2>Ingresar datos Meteorológicos</h2>
  <p></p>
  <a class="btn-primary" type="button" asp-area="" asp-page="./IngDatosMet"> <h2>INGRESAR</h2></a>
  
</section>