@page
@model FrontEnd.Pages.EstMetModel
@{
}
<h1>ESTACION METEOROLÓGICA</h1>
<section id="contenido">
  <h2>Crear Estación Meteorológica</h2>
  <p>Ingresar datos de una estación meteorológica nueva</p>
  <a class="btn-primary" asp-area="" asp-page="./IngrEstMet"> ingresar</a>
</section>
<section id="contenido2">
  <h2>Editar Estación Meteorológica</h2>
  <p>Ingresar datos de una estación meteorológica nueva</p>
  <a class="btn-primary" asp-area="" asp-page="./EditEstMet"> ingresar</a>
</section>
<section id="contenido3">
  <h2>Ingresar datos Meteorológicos</h2>
  <p>ingreso de datos meteorologicos como la temperatura etc</p>
  <a class="btn-primary" asp-area="" asp-page="./IngDatosMet"> ingresar</a>
</section>