@page
@model FrontEnd.Pages.IngDatosMetModel
@{
}

<html>
<body bgcolor="#00ff95">
<h1>INGRESAR DATOS METEOROLOGICOS</h1>
<form>
    <div class="container-fluid">
    <div class="row">
        <div class="col-2">
    <p>CODIGO ESTACION <input type="text" name="CodEstacion"></p>

    <p>Temperaruta <input type="text" name="TempEstacion"></p>

    <p>Humedad<input type="text" name="HumeEstacion"></p>

    <p>PresionAdmosferica<input type="text" name="PreAdEstacion"></p>

    <p>VelocidadViento<input type="text" name="VelViEstacion"></p>

    <p>Publiocidad<input type="text" name="PublEstacion"></p>

    <p>PresionAdmosferica<input type="text" name="PreAdEstacion"></p>

    <p>RadiacionSolar<input type="date" name="RadSoEstacion"></p>

    <p><input type="submit" value="guardar"></p>

</form>
</body>
</html>



<div class="container-fluid">
    <div class="row">
        <div class="col-4">
       
        
        </div>
    </div>
</div>
    