@page
@model FrontEnd.Pages.IngrEstMetModel
@{
}
<h1>NUEVA ESTACION METEOROLOGICA </h1>
<form>
    <p>CODIGO NUEVA ESTACION <input type="text" name="CodEstacion"></p>
    <p>Latitu nueva estacion <input type="text" name="LatEstacion"></p>
    <p>Longitud nueva estacion <input type="text" name="LongEstacion"></p>
    <p>Municipio nueva estacion <input type="text" name="MunEstacion"></p>
    <p>fecha de montaje nueva estacion <input type="date" name="fechaEstacion"></p>
    <p><input type="submit" value="guardar"></p>
</form>